body {
  background-color: #1bc7f2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
  color: rgb(249, 238, 238);
}

/* حاوية اليدين لتكون جنب بعض */
#hands-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* فراغ بين اليدين */
  margin-top: 20px;
}

/* اليدين بنفس الحجم */
#hand1,
#hand2 {
  width: 150px;
  height: 150px;
}

/* الصور داخل اليدين */
#hand1 img {
  padding-top: 20px;
  transform: rotateY(180deg);
  width: 100%;
  height: auto;
}

#hand2 img {
  padding-top: 20px;
  width: 100%;
  height: auto;
}

/* تعديل أزرار Rock Paper Scissor: زحنا شوي عاليمين */
#rock {
  position: absolute;
  left: 550px;
  top: 75%;
  visibility: hidden;
}

#paper {
  position: absolute;
  left: 710px;
  top: 75%;
  visibility: hidden;
}

#scissors {
  position: absolute;
  left: 870px;
  top: 75%;
  visibility: hidden;
}

button {
  height: 80px;
  width: 140px;
  font-size: x-large;
  font-weight: bold;
  background-color: rgb(41, 186, 239);
  color: floralwhite;
  border: solid 4px floralwhite;
  border-radius: 44px;
  cursor: pointer;
}

#start {
  background-color: rgb(22, 159, 209);
  position: absolute;
  top: 75%;
  left: 45%;
}

@keyframes shakeLeft {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeRight {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}
